citizen/
crashes/
server-data/cache/
server-data/db/*
server-data/db/default/*
server-data/MarqCU.txt
info.zip*
server-data/db/default/CURRENT
server-data/db/default/CURRENT
server-data/db/default/IDENTITY
server-data/db/default/LOCK
server-data/db/default/LOG
server-data/db/default/LOG.old.1621614042140676
server-data/db/default/LOG.old.1621614042155436
server-data/db/default/LOG.old.1621614042195972
server-data/db/default/OPTIONS-000005
