endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set mysql_connection_string "mysql://yellowbuzz2:p5p9771Awlgh@localhost/vrp?debug=false&charset=utf8mb4"
set mysql_debug "None"
set mysql_slow_query_warning "800"

### "FiveM" ###
start mapmanager
start spawnmanager
start sessionmanager
restart sessionmanager
start fivem
start ghmattimysql
start vrp
start MQCU
start vrpserver
start MQCU_SomAutomotivo # Sistema de SOM MQCU
start Carros_Person      # Carros de SOM MQCU
start paredao            # Carretinha MQCU
start paredao2           # Carretinha MQCU
start chat
# start logo # Logotipo centralizado na tela
start core_devtools
start discord-screenshot
start screenshot-basic

### TOKOVOIP/RADIO ###
start tokovoip_script
start nav_radio

### TELEFONE ###
start smartphone

### VRP ###
start character-creator      # Criação de Personagem
start vrp_login              # Sistema de seleção de login
start stopzera_tattoos       # Nova loja de tatuagens
start vrp_garages            # Sistema de garagens
start vrp_concessionaria     # Sistema de concessionaria
start vrp_policia            # Sistemas da Policia
start vrp_caixaeletronico    # Caixas eletronicos (ROUBOS)
start vrp_registradora       # Roubo a caixa registradora
start vrp_tablet             # F9
start vrp_animacoes          # Animações (/e | /e2)
start vrp_itemdrop           # DROP de itens
start vrp_homes              # Sistema de casas
start vrp_realista           # Danos dos veiculos realistas
start vrp_loading            # Nova tela de carregamento (Season 2)
start vrp_sounds             # Sons realistas
start vrp_banconl            # NuBank
start vrp_doors              # Trancas de portas
start vrp_roupaseup          # Roupas EUP
start vrp_veiculos           # Modificações de (Carros|Motos)
start vrp_roubos             # Assalto ao banco central e bancos
start vrp_motos              # Modificações de motos
start vrp_assalto_banco      # Roubo ao banco central
start vrp_legacyfuel         # Posto de Gasolina
start vrp_identidade         # F11
start vrp_jewelry            # Joalheria
start vrp_interiores         # Interiores
start vrp_inventorynovo          # Sistema de inventarios
start vrp_trunkchest         # Sistema de bau
start vrp_ignore             # Impedir que NPCs ataquem
start vrp_notify             # Notificações
start vrp_emergencyblips     # Blips para serviços de emergencia
start vrp_rouboarmas         # Ammunation
start vrp_progressbar        # Barra de Progresso
start vrp_payday             # Sistema de pagamento de salários
start vrp_player             # Sistema de jogador
start vrp_admin              # Sistema de administração
start vrp_fenix              # Sistemas neutros
start vrp_notifyitens        # Sistema de notificação ao pegar/remover item no inventário
start vrp_chest              # Sistema de baús
start vrp_doacoes            # FiveM-Store - Entrega de doações
start vrp_skinshop           # Loja de roupas
start vrp_teleport           # Blips de teleporte com permissão
start vrp_novasviaturas      # Novas viaturas (Season 2)
start vrp_rmod               # Veiculos RMOD
start vrp_metas              # DANO DAS ARMAS (SCRIPT DE HS)
start vrp_pets               # Sistema de PETS (Animais)

### EMPREGOS LEGAIS ###
start lixeiro_coletar        # Emprego de lixeiro - Coletar
start lixeiro_despejar       # Emprego de lixeiro - Despejar
start emp_caminhao           # Emprego de caminhoneiro
start nav_caminhao           # Pegar Cargas | Caminhoneiro
start nav_minerador_crafting # Transformação do minério
start nav_minerador          # Venda dos minérios
start emp_minerador          # Mineração
start emp_taxista            # Emprego de taxista
start emp_hospital           # Emprego de médico (macas/cura)
start emp_motorista          # Emprego de motorista de onibus
start emp_lifeguard          # Emprego de salva-vidas
start emp_tecidos            # Emprego de tecidos
start emp_cacador            # Emprego de caçador
start colheita_entregar      # Entrega da colheita
start emp_colheita           # Colheita (pegar itens)
start emp_paramedico         # Emprego de rota para hospital
start xd_races               # Corrida Ilegal com Ranking
start emp_policia            # rota de farm da policia
start boletim                # Boletim de ocorrencia na DP
start balaka_construtor      # Emprego de construtor
start nav_lojacacador        # Loja do emprego de caçador

## EMPREGOS ILEGAIS ##
start farm_bratva            # Bratva - Farm de itens
start nav_armas              # Bratva - Loja de compra
start nav_producao-armas     # Bratva - Produção
start farm_maconha           # Verdes - Farm de maconha
start farm_cocaina           # Vermelhos - Farm de cocaina
start farm_metanfetamina     # Roxos - Farm de meta
start farm_heroina           # Laranjas - Farm de Heroina
start farm_drogas            # Farm de materiais de drogas
start nav_drogas             # Loja das Facs de Drogas
start entrega_drogas         # Entrega de drogas
start emp_desmanche          # Motoclub - Desmanche de veículos
start farm_yakuza            # Yakuza - Farm de itens
start nav_yakuza             # Yakuza - Loja de compra
start nav_producao-yakuza    # Yakuza - Produção
start emp_lavagem            # Yakuza - Lavagem de dinheiro
start nav_contrabando        # Contrabando - Produção de itens
start farm_contrabando       # Contrabando - Rota de farm

### NAVS ###
start nav_ammunation         # Loja de ammuNation
start nav_departamento       # Loja de coveniencia 24/7
start nav_mecanica           # Mercado das mecanicas
start nav_barzinho           # Barzinho das boates
start nav_lojaeletronico     # Digital den menu
start nav_farmacia           # Farmacia menu
start nav_lojacasino         # Loja do Casino

## MAPAS ##
start vrp_mapas              # Mapas
start nubank                 # Caixas eletronicos e bancos nubank
start favelabarragem         # 3 Favelas na barragem
start favelaesgoto           # Favela do esgoto (laranjas)
start Bratva                 # Casa da BRATVA
start CartelMansao           # CosaNostra
start [La_Fuente_Blanca]     # Mansão da Fazenda NOVA
start pontecayo              # Ponte de acesso para ilha
start gradepraca             # Grades na Praça
start mapa1                  # Letreiro praca fenix
start vinewoodfenix          # letreiro vinewood fenix
start logofenixpredio        # Aguia Prédio
start patocheprison          # PRESIDIO NOVO
start oficinamidas_v2        # Nova Fenix Customs
start brofx_mafia            # MAPA SALIERIS LAVAGEM
start vrp_peds               # SKIN DE CRIANCAS
start rockfordhills_pd       # DP NOVA JOJO
start banner_anim            # Banner da praça
start np-cowboyshunting      # Cabana de Caça (Norte)
start cafeteria              # Cafeteria
# start squid                  # Evento (Round 6)
start cafe_bean_machine      # Cafeterias
start motelvanilla2          # Motel do Vanilla AjnasMods

## SCRIPTS ##
start npc_control            # Diminuir NPCs
start mhacking               # Sistema de hackear banco central
start crz_arsenal            # Arsenal
start lux_vehcontrol         # Sistema de controle de sirenes/giroflex
start puxararma              # Coldre
start pvp-fenix              # Arena PVP
start dom_mortes             # Log de Mortes + X na Mira (Marko_#3253)
start nation_hud             # HUD da Nation Store
start fenix_veiculos         # Veiculos
start vSync                  # Vsync | TIME | WEATHER
start ajnaxanims             # Animações de sexo AjnaMods
start nation_bennys          # Menu de tunagem
start ldevAcademia           # Sistema de academia (ganhar mochila)
start xd_barbershop          # Novo barbershop
# start Mot2Passe              # Script de bloquear acesso no servidor (apenas Staff)

## CASINO ##
start casino_base            # Mapa base do casino
start casino_blackjack       # Blackjack
start casino_insidetrack     # Corrida de cavalo
start casino_npc             # NPCs do Casino
start casino_poker           # Poker
start casino_roleta          # Roleta
start casino_slots           # Caça-níqueis
start casino_sorte           # Roleta da sorte
start InteractSound          # Sistemas de sons do Casino
start Shaw-Lottery           # Raspadinha

## NOITE DO CRIME ##
# start cuqui_noiteCrime
# start interact-sound
# start pNotify

## TESTES ##
start heli

sv_scriptHookAllowed 0

sets banner_detail "https://cdn.discordapp.com/attachments/795675862350430288/843653609648685086/Pagina_-_Fenix_RP.gif"
sets banner_connecting "https://cdn.discordapp.com/attachments/795675862350430288/843653479905493044/Conectando_-_Fenix_RP.gif"

sets locale "pt-BR"
sets Mapa "Tema Próprio"
sets Base "vRP"
sets Discord "https://discord.gg/aE7BNBn3AK"
sets DevelopedBy "Porcao#0001"
sets Teamspeak "ts.fenixcity.com.br"
sets tags "vrp, fenix, reallife, tokovoip, rp, brasil, roleplay, vrp, br, LGBT"

sets sv_projectName "^3FENIX CITY SEASON 2😈"
sets sv_projectDesc "~TEMA PRÓPRIO~ ~NOVA SEASON 25/10~"

# sets sv_projectName "^2[^3B^2R^3A^2S^3I^2L^3] ^9Fenix City ^7| 📋 FAST WL | PING ^2B^3R ^7| ^1+100 FPS ^7| 🌈 ^1L^3G^2B^5T^6Q^9I^4A^7+ | discord.gg/F3Jp5J2 - southbr infinity novo fusion mush cometa death space alexandria tropical filadelfia wild brs narnia flow tokyo bombe playhard foguete pvp fntr kings ilha alpha era alternative bettle pvp rox rose atomic complexo universe cidade alta cda hype"
# sets sv_projectDesc "Tema Próprio, Legais e Ilegais Disponíveis, Discord: https://discord.gg/F3Jp5J2"

sv_hostname "^8[BRASIL] ^6FENIX CITY SEASON 2 ^0 ^8🚀NOVA SEASON 25/10🚀^0 ^5📡PING BR📡 ^0 ^6📱discord.gg/aE7BNBn3AK📱 ^0"

load_server_icon server.png
# sv_master1 ""

sv_authMaxVariance 1
sv_authMinTrust 5

add_ace group.founder command allow
add_ace group.founder command.quit deny
add_principal identifier.steam:110000115bc0c5b group.founder
add_principal identifier.steam:110000115bc0c5b group.sync
add_principal identifier.steam:11000010b5d5948 group.founder
add_principal identifier.steam:11000010b5d5948 group.sync
add_principal identifier.license:a50f2a980dc089893bbf408a2765a6244fb0f2f5 group.founder
sv_tebexSecret 017cff4f36be6d1eedae657cde6948d14072099c

set ac_webhook ""

sv_maxclients 1024
sv_endpointprivacy true

set onesync_enabled 1
setr game_enableFlyThroughWindscreen true # Solicitado pela HUD da Nation Store

set steam_WebApiKey 087641574297E2143011C29E4AD10432
sv_licenseKey 6ab8c914af3hpsw3i1mde5bacw5t01k6
# 6ab8c914af3hpsw3i1mde5bacw5t01k6 key principal
# key teste: pvpjk9lknc8ejtz7oblzruxhyxo50lcm
# sv_licenseKey xgdtczto7zudxa8s43k1hf9uuo16k403 # Key de 64 Slots (GabrielBrkk#5728)
