/* 
:root { 
  --primary-color: #000; 
  --secondary-color: #ff9999; 
} */

/* Dropdown Button */

.dropbtn {
  background-color: rgba(76, 175, 79, 0);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */

.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
  background-color: #3e8e4100;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #000;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  overflow: hidden;
  font-family: sans-serif;
}

body {
  font-family: "Verdana", sans-serif;
}

.full-screen {
  width: 100%;
  height: 100%;
  margin-top: -100px !important;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 5%;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  /* box-shadow: 0 10px 0 0 var(--primary-color) inset; */
  margin-left: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  margin: 0px;
  z-index: 1;
  display: none;
  margin-right: auto;
  overflow: hidden;
  text-transform: uppercase;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.btnClose {
  position: absolute;
  right: 3px;
  top: 5px;
  width: 40px;
  color: white;
  background-color: transparent;
  outline: none;
  border: none;
}

.btnClose:hover {
  color: #000;
}

.style-1,
.style-2 {
  /*display: none;*/
  margin-top: 60px;
}

.style-1 h1,
.style-2 h1 {
  text-align: center;
  padding-left: 10px;
  font-size: 15px;
}

.style-2 .inv_esquerda {
  font-size: 16px;
  text-align: center;
  width: 100%;
}

.style-2 .equipped {
  width: 24%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  height: 640;
  min-width: 330px;
}

.style-2 .eq_storeall {
  bottom: 0px;
  position: absolute;
  width: 100%;
  height: 32px;
  background-color: rgba(0, 0, 0, 0.5);
}

.style-2 .eq_items {
  height: 20%;
}

.style-2 .eq_storeall button {
  line-height: 30px;
  width: 150px;
  border: none;
  outline: none;
  font-size: 12px;
  transition: transform 0.2s;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  margin-left: 50%;
  transform: translateX(-50%);
}

.style-1 .inv_esquerda,
.style-1 .inv_direita {
  font-size: 16px;
  text-align: center;
  width: 100%;
}

.style-1 .inv_e_label,
.style-1 .inv_d_label,
.style-2 .inv_e_label,
.style-2 .eq_label {
  background-color: rgba(0, 0, 0, 0.7);
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.style-1 .inv_e_weight,
.style-1 .inv_d_weight,
.style-2 .inv_e_weight {
  text-align: center;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0;
  position: relative;
  height: 45px;
  width: 385px;
}

.style-1 .inv_e_weight_l,
.style-1 .inv_d_weight_l {
  font-size: 12px;
  text-align: center;
  margin-bottom: 5px;
}

.style-1 .inv_e_weight .progress_1,
.style-1 .inv_d_weight .progress_1,
.style-2 .inv_e_weight .progress_1 {
  height: 100%;
  background-color: #000;
  position: absolute;
  margin-left: 0px;
  left: 0px;
  top: 0px;
  border-radius: 10px;
  z-index: 5;
}

.style-1 .inv_e_weight .label_1,
.style-1 .inv_d_weight .label_1,
.style-2 .inv_e_weight .label_1 {
  z-index: 10;
  position: relative;
  font-size: 30px;
}

.style-2 .inv_e_weight:after {
  content: "";
  background-color: rgba(255, 0, 0, 0.5);
}

.style-1 .inv_esquerda_items,
.style-1 .inv_direita_items {
  width: -webkit-fill-available;
  height: calc(100% - 40px);
  overflow-y: scroll;
}

.style-1 #sections {
  height: 80%;
}

.style-2 #sections {
  height: 80%;
  margin-left: 6%;
}

.style-1 #pitems {
  margin-left: 5%;
}

#items {
  right: 5%;
}

/* Caixa de Cima (ITEMS) */
.style-2 #pitems {
  background-color: rgba(0, 0, 0, 0.5);
  width: 50%;
  height: 40%;
  position: absolute;
  margin-left: 25%;
  margin-top: 7%;
  transform: translateX(-50%);
}

.style-1 #pitems,
.style-1 #items {
  background-color: rgba(0, 0, 0, 0.2);
  width: 38%;
  height: inherit;
  position: absolute;
}

.inner-items,
.inner-pitems,
.receita,
.craft {
  width: 110px;
  height: 110px;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  -webkit-box-shadow: 0 0 7px #000;
  box-shadow: 0 0 10px #292929;
  transition: transform 0.2s;
  border-radius: 10px;
  background-size: 50px 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
}

.inner-items:nth-child(odd) {
  border-radius: 10px;
  margin-left: 40px;
}

.inner-items:hover,
.inner-pitems:hover,
.receita:hover,
.craft:hover {
  transform: scale(1.06);
  border-radius: 10px;
  background-color: rgba(0, 0, 0.7);
}

.pulse {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 51, 51, 0.5);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(255, 51, 51, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 51, 51, 0);
  }
}

.inner-items p,
.inner-pitems p,
.receita p,
.craft p {
  color: #161616;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.inner-items .amount,
.inner-pitems .amount,
.receita .amount,
.craft .amount {
  text-align: left;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 100%;
  color: white;
}

.inner-items .peso,
.inner-pitems .peso,
.receita .peso .craft .peso {
  text-align: right;
  position: relative;
  float: right;
  color: white;
  right: 10px;
}

.inner-items .name,
.inner-pitems .name,
.receita .name,
.craft .name {
  position: absolute;
  bottom: 0px;
  width: 110px;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: white;
  font-size: 10px;
  background-color: rgba(0, 0, 0, 0.67);
}

.peso_label {
  background-color: rgba(0, 0, 0, 0.5);
  height: 24px;
  line-height: 24px;
  text-align: center;
}

.style-1 #functions {
  width: auto;
  height: fit-content;
  position: absolute;
  left: 79%;
  top: 78%;
}

.style-2 #functions {
  width: 385px;
  height: fit-content;
  position: absolute;
  left: 000;
  top: 101%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  min-width: 330px;
}

.style-2 #functions span {
  font-size: 22px;
  margin-bottom: 5px;
  display: block;
  text-align: center;
  text-anchor: middle;
}

.menos {
  position: relative;
  float: left !important;
  padding: 9px;
  width: 25% !important;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 10px;
  font-weight: 800;
  transition: transform 0.2s;
  text-transform: uppercase;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: white;
}

.mais {
  position: relative;
  float: right !important;
  padding: 9px;
  width: 25% !important;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 10px;
  font-weight: 800;
  transition: transform 0.2s;
  text-transform: uppercase;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: white;
}

#functions button {
  margin-bottom: 10px;
  padding: 10px;
  width: 150px;
  border: none;
  outline: none;
  font-size: 12px;
  transition: transform 0.2s;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

#functions input {
  margin-bottom: 10px;
  padding: 10px;
  width: 150px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 12px;
  transition: transform 0.2s;
  text-align: center;
  text-transform: uppercase;
}

#functions input:hover {
  transform: scale(1);
  background-color: #000;
}

#functions .function {
  background-color: rgba(0, 0, 0, 0.5);
}

#functions .function:hover {
  background-color: #000;
  transform: scale(1);
}

.selectedItem {
  background-color: #000;
}

.infos {
  text-align: left !important;
  font-size: 10px;
  color: #848484;
}

.moc {
  color: #ccc;
  display: block;
  font-size: 25px;
  font-weight: 700;
  padding: 35px 0 10px;
  letter-spacing: 3px;
  text-align: left !important;
}

/* Caixa de Baixo (RECEITAS) */
.style-2 #Receitas {
  background-color: rgba(0, 0, 0, 0.5);
  width: 50%;
  height: 30% !important;
  position: absolute;
  margin-left: 25%;
  margin-top: 32%;
  transform: translateX(-50%);
}

.style-2 .Receita_esquerda {
  font-size: 16px;
  text-align: center;
  width: 100%;
}

/* Caixa da direita (PRODUÇÂO) */
.style-2 #Craft {
  background-color: rgba(0, 0, 0, 0.5);
  width: 19%;
  height: 61.5%;
  position: absolute;
  margin-left: 61%;
  margin-top: 10%;
  transform: translateX(-50%);
}

.style-2 .Craft_esquerda {
  font-size: 16px;
  text-align: center;
  width: 100%;
}

/* AQUI */

#container1 {
  font-family: "Verdana", sans-serif;
  padding: 1px;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

#container2 {
  font-family: "Verdana", sans-serif;
  padding: 1px;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

#container3 {
  font-family: "Verdana", sans-serif;
  padding: 1px;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.card1 {
  margin-top: 25px;
  margin-left: 25px;
}

.card2 {
  margin-top: 25px;
  margin-right: 25px;
}

.teste {
  color: black !important;
}

.button {
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #4caf50;
  /* Green */
  color: white;
}

.button {
  background-color: #4caf50;
  /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  bottom: -3px;
  left: 4px;
  width: 300;
}

.button {
  background-color: #28a745;
  color: white;
  border: 2px dashed white;
  position: absolute;
  bottom: -3px;
  left: 0px;
  width: 100%;
}

.button:hover {
  background-color: #208838;
  color: white;
}

.form__label {
  font-family: "Verdana", sans-serif;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
}

.form__input {
  position: absolute;
  font-family: "Verdana", sans-serif;
  color: #000;
  text-align: center;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  top: 550px;
  left: 150px;
  height: 10px;
  width: 200px;
}
