html {
	overflow-x: hidden !important;
	overflow-y: hidden !important;
	background-color: transparent !important;
}

body {
	background-color: transparent !important;
}

#notifyitens {
	left: 50%;
	bottom: 3%;
	position: absolute !important;
	transform: translate(-50%,-50%);
}

#showitem {
	float: left;
	width: 100px;
	height: 117px;
	margin-top: 10px;
	margin-right: 10px;
	border-radius: 10px;
	background: rgba(0,0,0,0.5);
	/*-webkit-filter: blur(10px);
 -moz-filter: blur(10px);
 -o-filter: blur(10px);
 -ms-filter: blur(10px);
 filter: blur(10px);*/
}


.showItemS {
	box-shadow:0px 0px 30px 1px green;
}

.showItemN {
	box-shadow:0px 0px 30px 1px red;
}

#showitem b {
	float: left;
	width: 80px;
	height: 33px;
	color: #a9a9a9;
	font-size: 11px;
	font-weight: 300;
	margin-top: 70px;
	overflow: hidden;
	text-align: center;
	font-family: arial;
	white-space: nowrap;
	padding: 8px 10px 0;
	text-overflow: ellipsis;
	text-shadow: 1px 1px #000;
	border-radius: 0 0 3px 3px;
	background: rgba(0,0,0,0.6);
}

sucesso {
	color: rgba(80,120,20,1.0);
}

negado {
	color: rgba(160,25,25,1.0);
}
